html{
    overflow-x: hidden;
}

body{
    text-align: center;
    background-color: #a7e8e8 !important;
}
/******************************************************************/
/*                                                                */
/*                           NavBar                               */
/*                                                                */
/******************************************************************/

nav{
    padding-top: 3vh;
    text-align: right;
    padding-bottom: 3vh;
    margin-bottom: 11.5vh;
}

.navlink{
    text-decoration: none;
    color: aquamarine;
    background-color: cadetblue;
    padding: 10px;
    margin-right: 20px;
    border-radius: 13px;
}

.navlink:hover{
    color: cadetblue;
    background-color: aquamarine;
    text-decoration: none;
}

/******************************************************************/
/*                                                                */
/*                             Body                               */
/*                                                                */
/******************************************************************/

h1{
    text-align: center;
    margin-bottom: 6vh !important;
    font-family: 'Tourney', sans-serif;
    font-size: 92px !important;
    color: #014d8e;
}

label{
    font-size: 30px;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 800
}

.formInsert{
    background-color: #5ab4b991;
  border-radius: 13px;
  justify-content: center;
  padding-bottom: 2vh;
  padding-top: 2vh;
  width: 70vw;
}

form{
    text-align: center;
}

.tA_Left{
    text-align: left;
}

button{
    background-color: cadetblue;
    border-radius: 13px !important;
    border: none;
    color: aquamarine;
    padding: 5px 10px;
}

button, a{
    font-size: 24px !important;
    font-family: 'Alumni Sans', sans-serif !important;
    font-weight: 600;
}

button:hover{
    background-color: aquamarine;
    color: cadetblue;   
}

.Myshadow{
    box-shadow: 0 0 10px aliceblue !important;
}

.divForm{
    background-color: #a7e8e8;
    border-radius: 13px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    box-shadow: 0 0 10px aliceblue;
}

.ParentForm{
    display:flex;
    justify-content: center;
}

.btnClass{
    margin: 2vh auto 0 auto;}

label{
    padding: 0 !important;
}

/******************************************************************/
/*                                                                */
/*                             Body                               */
/*                                                                */
/******************************************************************/

.popUp{
    border-radius: 100px;
    width: 480PX;
    height: 200px;
    box-shadow: 
    0 0 10px #cdcdd4,
    0 0 10px black;
    
    background-color: #d6d6db;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popUp-open{
    transform: translate(-50%,-100%) scale(1);
    visibility: visible;
    top: 50%;
}

.elemPopUp{
    margin: 12%;
}