html{
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    /*
    background-color: #a7e8e8 !important;
    */
}
/******************************************************************/
/*                                                                */
/*                           NavBar                               */
/*                                                                */
/******************************************************************/

nav{
    padding-top: 3vh;
    text-align: right;
    padding-bottom: 3vh;
    margin-bottom: 11.5vh;
    background-color: #a1d4d7;
    box-shadow: 0 0 3px 2px #6e9bc4;
}

.navlink{
    text-decoration: none;
    color: aquamarine;
    background-color: cadetblue;
    padding: 10px;
    margin-right: 20px;
    border-radius: 13px;
}

.navlink:hover{
    color: cadetblue;
    background-color: aquamarine;
    text-decoration: none;
}

/******************************************************************/
/*                                                                */
/*                             Main                               */
/*                                                                */
/******************************************************************/

h1{
    text-align: center;
    margin-bottom: 6vh !important;
    font-family: 'Tourney', sans-serif;
    font-size: 92px !important;
    color: #014d8e;
}

.divContainer{
    width: 80vw;
    align-self: center;
    padding-bottom: 40px;
    background-color: #c7e1e1 !important;
    margin-top: 7vh;
    box-shadow: 2px 2px 3px 2px #a48585 !important;}

label{
    font-size: 30px;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 800
}

.formInsert{
    background-color: #5ab4b991;
  border-radius: 13px;
  justify-content: center;
  padding-bottom: 2vh;
  padding-top: 2vh;
  width: 70vw;
}

form{
    text-align: center;
}

.tA_Left{
    text-align: left;
}

button{
    background-color: cadetblue;
    border-radius: 13px !important;
    border: none;
    color: aquamarine;
    padding: 5px 10px;
}

button, a{
    font-size: 24px !important;
    font-family: 'Alumni Sans', sans-serif !important;
    font-weight: 600;
}

button:hover{
    background-color: aquamarine;
    color: cadetblue;   
}

.divForm{
    background-color: #a7e8e8;      
    border-radius: 13px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
}

.ParentForm{
    display:flex;
    justify-content: center;
}

.btnClass{
    margin: 2vh auto 0 auto;
}


label{
    padding: 0 !important;
}

.errorLabel{
    display: none;
}

.errorLabel-font{
    color: #f00;
}

/******************************************************************/
/*                                                                */
/*                         Main PopUp                             */
/*                                                                */
/******************************************************************/

.popUp{
    border-radius: 100px;
    width: 480PX;
    height: 200px;
    box-shadow: 
    0 0 10px #cdcdd4,
    0 0 10px black;
    
    background-color: #d6d6db;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popUp-open{
    transform: translate(-50%,-100%) scale(1);
    visibility: visible;
    top: 50%;
}

.elemPopUp{
    margin: 12%;
}

/******************************************************************/
/*                                                                */
/*                         Main PopUp                             */
/*                                                                */
/******************************************************************/


.table thead th, th, td{
    border-bottom: 2px solid #89c7ca !important;
}

.table thead th{
    border-top: 1px solid #89c7ca !important;
}

.divContainer h2{
    text-align: center;
    margin: 20px auto;
}